In [6]:
#Read in the data
import pandas as pd
data = pd.read_excel(r'C:\Users\Shani\Documents\Data.xlsx')
data.head()

     Action Person_1     X Add fee Person_2  Amount  Transfer_Amount
0  TRANSFER    Henry  Jane    Jane     Jane     0.0             20.0
1  WITHDRAW   Akinyi    70     100      NaN   100.0              NaN
2   DEPOSIT    Henry   142     142      NaN   142.0              NaN
3  WITHDRAW     Mary    23      53      NaN    53.0              NaN
4  TRANSFER    Henry  Jane    Jane     Jane     0.0             50.0

In [7]:
#create dictionary to store names of individuals and amount.
Names_amount={}
length=len(data)
for i in range(0,length):
    if data["Person_1"][i] not in Names_amount: #to add new users to bank directory
        Names_amount[data["Person_1"][i]]=0
    if data["Person_2"][i] not in Names_amount:
        Names_amount[data["Person_2"][i]]=0
    if data["Action"][i]=="TRANSFER": #to simulate transfer
        
        if Names_amount[data["Person_1"][i]]>=data["Transfer_Amount"][i]: #to check for sufficient funds
            
            Names_amount[data["Person_1"][i]]-=data["Transfer_Amount"][i]
            Names_amount[data["Person_2"][i]]+=data["Transfer_Amount"][i]
    elif data["Action"][i]=="CREDIT": #to simulate credit
        if Names_amount[data["Person_1"][i]]>=data["Amount"][i]:
            
            Names_amount[data["Person_1"][i]]-=data["Amount"][i]
            Names_amount[data["Person_2"][i]]+=data["Amount"][i]
    elif data["Action"][i]=="WITHDRAW": #to simulate withdrawal
        if Names_amount[data["Person_1"][i]]>=data["Amount"][i]:
            
            Names_amount[data["Person_1"][i]]-=data["Amount"][i]
    elif data["Action"][i]=="DEPOSIT": #to simulate deposit
        Names_amount[data["Person_1"][i]]+=data["Amount"][i]
            
Names_amount

{'Henry': 314.59999999999997,
 'Jane': 2826.89,
 'Akinyi': 1747.96,
 nan: 1260.0,
 'Mary': 762.67,
 'Wanjiru': 584.4499999999998,
 'Lavender': 1163.6999999999998,
 'Daisy': 20.0,
 'Marigold': 10.0,
 'Linda': 1420.25,
 'Juma': 4670.51}